<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="toggleOrderColumn(column.property)">
        <span *ngIf="selectedColumn === column.property" class="sort-icon">
          <fa-icon *ngIf="sort === 'asc'" icon="angle-up"></fa-icon>
          <fa-icon *ngIf="sort === 'desc'" icon="angle-down"></fa-icon>
        </span>
        {{column.header}}
        <span *ngIf="column.subtitle" class="subtitle">
          {{column.subtitle}}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td><span class="account-number">{{ row.number }}</span></td>
      <td>
        {{ row?.amount | currency }}
        <div class="change"
        [ngClass]="{
          'up': row.percentChange > 0,
          'down': row.percentChange < 0
        }">{{ row.percentChange | number:'1.2' }}% / {{ row.amountChange | currency }}</div>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="handleLoadMore()">Load more</button>

